body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #b5fdc4;
}

#orange {
  background-color: #fdd3a2;
}

#yellow {
  background-color: #ffffb1;
}

#red {
  background-color: #faa5ad;
}

#blue {
  background-color: #b1dbfc;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
